= semantic_form_for @score, :html=>{:multipart=>true} do |form|   
  =form.input :title
  #preview.vex-canvas
  =form.input :content, :as=>:text, :input_html => {:class => "autogrow"}
  =form.input :sample, :as=>:file
  =form.buttons
