#center-options
  %ul
    %li
      %a{:href=>"/scores/new", :title=>"Create new score"} New Score
    %li
      %a{:href=>"/projects/new", :title=>"Create new project"} New Project

/TODO: search and recent scores and dashboard
